</main>
<footer>
  <div class="container">
    <div class="footer-top">
      <div>
        <h4>Navigation</h4>
        <ul>
          <li>
            <p>Home</p>
          </li>
          <li>
            <p>About Us</p>
          </li>
          <li>
            <p>Services</p>
          </li>
          <li>
            <p>Testimonials</p>
          </li>
          <li>
            <p>Contact Us</p>
          </li>
        </ul>
      </div>
      <div>
        <h4>Social Media</h4>
        <ul>
          <li>
            <i class="fa fa-facebook-square fa-1x"></i> Facebook
          </li>
          <li>
            <i class="fa fa-twitter-square fa-1x"></i> Twitter
          </li>
          <li>
            <i class="fa fa-linkedin fa-1x"></i> LinkedIn
          </li>

        </ul>
      </div>
      <div>
        <h4>Business Hours</h4>
        <ul>
          <li>
            <p>Monday - Friday</p>
          </li>
          <li>
            <p>09:00 - 23:00</p>
          </li>

        </ul>
      </div>
      <div>
        <h4>Contact Informaiton</h4>
        <ul>
          <li>
            <p>Apollo Investigations,<br> 
            Keystone Innovation Centre,<br> 
            Croxton Road,<br> 
            Thetford, <br>Norfolk,<br> 
            IP24 1JD</p>
            <br>
          </li>
          <li> 
            <p>Email: info@apolloinvestigations.co.uk</p>
            <p>Mob: 07398 588 306</p>
            <p>Tel: 01842 337 224</p>
          </li>

        </ul>
      </div>

    </div>
  </div>

</footer>
<script type="text/javascript" src="Assets/js/main.js"></script>
</body>

</html>
