<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apollo Investigation</title>
    <link rel="stylesheet" href="Public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="Assets/stylesheets/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>
      <div class="container ">
        <div id="logo"><a href="/">Appolo Investigations</a></div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
          </ul>
        </nav>
        <div id="nav-mobile">
          <div class="menu-burger">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
          </div>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>

    </header>
    <main>