<% include partials/header.ejs %>

  <h1 class="center">About Us</h1>

  <p class="center" style="margin-top: 30px;">There are many reasons to hire a private investigator and choosing who to go with is not something to be taken lightly. At Apollo Investigations we apply both our experience and formal training to offer a highly professional service at competitive rates.
    We have extensive knowledge of East Anglia, including much of the rural areas other companies would be unfamiliar with.</p>

  <p class="center" style="margin-top: 30px;">We are diligent, resourceful and forever keen to get results. All of our investigators must have passed their EDI level 3 award in advanced private investigation. We are registered with the Information Commissioners Office and as such comply with The
    Data Protection Act. </p>

  <% include partials/footer.ejs %>