<% include partials/header.ejs %>

<h1>Contact Us</h1>

<p>Phone consultations are free and are available from 8am until 11pm, alternatively contact us via email where we endeavour to reply ASAP. Whatever your issue, we are happy to talk about it with you and guide you towards the best course of action.
</p>

<p>Discretion is assured and no data will be shared with any third party without your instruction. We will communicate throughout any investigations by a means of your choice and never call outside of specific times you have set. We also know the emotional strain that can come with the need to hire a private investigator in the first place and we are sensitive in our approach to your private matters. We take honesty and privacy incredibly seriously; you will never be kept out of the loop or be misinformed and your information will be kept secure at all times.</p>

<% include partials/footer.ejs %>