<% include partials/header.ejs %>

  <div class="jumbotron">
    <div class="jumbotron-info">
      <h2>We provide a customised investigation service for all the needs of our clients. We pride ourselves in our professionalism and client satisfaction.</h2>
    </div>
  </div>
  <h3><span id="quote">We take the time to understand what it is you need, then develop a plan to deliver it. We care, the way you care.</span></h3>
  <section>
    <h2>Services</h2>
    <h3>Do you need to hire a private investigator or a private detective in Norwich, Ipswich, Cambridge or East Anglia? We have investigators specialising in Norfolk, Suffolk and Cambridgeshire working 24 hours a day 7 days a week.</h3>
    <div class="services-container">
      <div class="services">
        <a href="/services#claims-investigation">
          <div class="services-title">
            <h3>Claims Investigation</h3></div>
          <div class="services-main">
            <img src="Assets/images/claims-investigation.jpg" alt="">
            <div class="details">
              <p>We are skilled in investigating injury at work claims, insurance fraud, workplace theft, RTC (road traffic collision) claims, locus reports, interviewing and taking witness statements.

              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="services">
        <a href="/services#peop-tracing">
          <div class="services-title">
            <h3>People Tracing</h3></div>
          <div class="services-main">
            <img src="/Assets/images/peop-track.png" alt="">
            <div class="details">
              <p>We have the training and experience to locate anyone, regardless of how long they’ve been missing.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="services">
        <a href="/services#car-tracing">
          <div class="services-title">
            <h3>Vehicle Tracking</h3></div>
          <div class="services-main">
            <img src="Assets/images/veh-track.jpg" alt="vehicle">
            <div class="details">
              <p>We offer GPS vehicle tracking for a variety of purposes, most commonly for matrimonial, fraud and criminal investigations. </p>
            </div>
          </div>
        </a>
      </div>
      <div class="services">
        <a href="/services#surveillance">
          <div class="services-title">
            <h3>Surveillance</h3></div>
          <div class="services-main">
            <img src="Assets/images/surveillance.jpg" alt="image of a cctv camera">
            <div class="details">
              <p>We can conduct covert surveillance tailored to your specific requirements, 24 hours a day, 7 days a week.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="services">
        <a href="/services#data-recovery">
          <div class="services-title">
            <h3>Data Recovery</h3></div>
          <div class="services-main">
            <img src="Assets/images/data-recovery.jpg" alt="data-recovery">
            <div class="details">
              <p>Using the latest technology, we can recover large amounts of lost or deleted data, including text messages, What’s App (and most other messaging systems) messages, emails, photos and videos.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="services">
        <a href="/services#matrimonial-inv">
          <div class="services-title">
            <h3>Matrimonial Investigations</h3></div>
          <div class="services-main">
            <img src="Assets/images/matrimonial.jpg" alt="mage of two hands with cross marked on them">
            <div class="details">
              <p>Have you got concerns that your partner is being unfaithful? We can provide peace of mind by investigating your suspicions without them even knowing.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="services">
        <a href="/services#process-serv">
          <div class="services-title">
            <h3>Process Serving</h3></div>
          <div class="services-main">
            <img src="Assets/images/process-serving.jpg" alt="process-serving">
            <div class="details">
              <p>We aim to serve within 24 hours of instruction and offer 30 day terms for solicitors and legal firms.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <% include partials/footer.ejs %>