<% include partials/header.ejs %>

  <h1>Our Services</h1>

  <div class="left">
    <ul>
      <li>
        <h2 id="peop-tracing">People Tracing</h2>
        <img src="Assets/images/peop-track.png" alt="people tracking">
        <p>There are many reasons for tracking someone down; they could be a debtor that has suddenly vanished without a trace or maybe a long lost relative you need to get in touch with. We have the training and experience to locate anyone, regardless of
          how long they’ve been missing. We offer a ‘no find, no fee’ on our basic UK based searches and competitive prices on advanced searches, so call now to discuss what your needs are.

        </p>
      </li>
      <li>
        <h2 id="data-recovery">Data Recovery</h2>
        <img src="Assets/images/data-recovery.jpg" alt="data-recovery">
        <p>Using the latest technology, we can recover large amounts of lost or deleted data, including text messages, What’s App (and most other messaging systems) messages, emails, photos and videos. It’s a swift and reliable service that gathers evidence
          believed to be long gone.</p>
      </li>
      <li>
        <h2 id="car-tracing">Vehicle Tracking</h2>
        <img src="Assets/images/veh-track.jpg" alt="vehicle">
        <p>We offer GPS vehicle tracking for a variety of purposes, most commonly for matrimonial, fraud and criminal investigations. They allow for the gathering of crucial information, making deployed surveillance teams more cost effective and likely to
          find the evidence you need.</p>
      </li>
      <li>
        <h2 id="martimonial-inv">Matrimonial Investigation</h2>
        <img src="Assets/images/matrimonial.jpg" alt="mage of two hands with cross marked on them">
        <p>Using the latest technology, we can recover large amounts of lost or deleted data, including text messages, What’s App (and most other messaging systems) messages, emails, photos and videos. It’s a swift and reliable service that gathers evidence
          believed to be long gone.</p>
      </li>
      <li>
        <h2 id="claims-investigation">Claims Investigations</h2>
        <img src="Assets/images/claims-investigation.jpg" alt="">
        <p>We are skilled in investigating injury at work claims, insurance fraud, workplace theft, RTC (road traffic collision) claims, locus reports, interviewing and taking witness statements.</p>
      </li>
      <li>
        <h2 id="surveillance">Surveillance</h2>
        <img src="Assets/images/surveillance.jpg" alt="image of a cctv camera">
        <p>We can conduct covert surveillance tailored to your specific requirements, 24 hours a day, 7 days a week. We operate out of East Anglia but are able to give nationwide cover, offering a first class service at competitive rates. All evidence is
          gathered using industry standard equipment and you will receive a professional report within 24 hours of completion, as well as daily reports if surveillance is to take place over a number of days. Please call to discuss your needs and for a
          free quotation.</p>
      </li>
      <li>
        <h2 id="process-serv">Process Serving</h2>
        <img src="Assets/images/process-serving.jpg" alt="process-serving">
        <p>We process serve throughout all of East Anglia, including Cambridge for a flat fee of £80 including VAT. We offer a professional service and include three attempts to serve with no additional charge. We aim to serve within 24 hours of instruction
          and offer 30 day terms for solicitors and legal firms. We are experienced and trained in the legalities of process serving and guarantee a professional and competitively priced service. </p>
      </li>
    </ul>
  </div>
  <div class="contain">
    <div class="right">
      <h2>Other Services</h2>
      <ul>
        <li>
          <a href="#peop-tracing"><h4>People Tracing</h4></a></li>
        <li>
          <a href="#data-recovery"><h4>Data Recovery</h4></a></li>
        <li>
          <a href="#car-tracing"><h4>Vehicle Tracking</h4></a></li>
        <li>
          <a href="#martimonial-inv"><h4>Matrimonial Investigations</h4></a></li>
        <li>
          <a href="#claims-investigation"><h4>Claims Investigation</h4></a></li>
        <li>
          <a href="#surveillance"><h4>Surveillance</h4></a></li>
      </ul>
    </div>
  </div>

  <% include partials/footer.ejs %>